@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat|Oxygen|Poiret+One|Nanum+Gothic|Song+Myung&display=swap');
body{
	margin-top: 0px;
}

div#container{
    width:1024px;
    margin: 0 auto;
    position: relative;
    font-family: Nanum Gothic;
}

/* header */
div#header-container{
    height:90px;
    position: relative;
	border-bottom-style: double;
    border-bottom-color: gray;
}
div#header2-container{
    height:90px;
    position: relative;
}
div.header span{
    font-family: Poiret One;
    color: rgb(76, 76, 76);
    left: 59px;
    top: 43px;
    font-weight: bold;
    font-size: xx-large;
    position: relative;
}

div.header a{
    text-decoration: none;  
}
div.header img#logo_img{
    position: absolute;
    top: 11px;
    left: 108px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    box-shadow: -1px -1px 1px grey;
}
div.header img#chat_img{
    position: absolute;
    top: 30px;
    right: 90px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
div.header img#menu_img{
    position: absolute;
    top: 34px;
    right: 35px;
    width: 45px;
    height: 40px;
    cursor: pointer;
}
div#index{
    font-family:Nanum Gothic;
    font-weight: bolder;
    position: absolute;
    right:200px;
    font-size: 10px;
}
div#index a{
    color: gray;    
}
/* 채팅화면 */
div#chat-container{
    position: fixed;
    width: 320px;
    height: 420px;
    left: 700px;
    top: 30px;
    background: powderblue;
    display: none;
    box-shadow: 5px 5px 5px grey;
    z-index: 10;
}
div#chat-container #chat-title{
    position: relative;
    width: 200px;
    top: 13px;
    left: 111px;
    color: white;
    font-weight: bold;
}
div#chat-container #chat-close{
    font-family: Montserrat;
    position: relative;
    right: -196px;
    top: 12px;
    font-size: 18px;
    cursor: pointer;
}
div#chat-container #msg-container{
    position: relative;
    top: 30px;
    height: 280px;
    padding: 18px;
    overflow-y: scroll;
}
::-webkit-scrollbar{width: 10px; height: 10px;}
::-webkit-scrollbar-thumb {background-color:rgba(122,122,122,0.5); border-radius: 5px;}
::-webkit-scrollbar-thumb:hover {background: #555;}

div#chat-container #msg-container ul{
    font-family: Nanum Gothic;
    padding: 8px 10px;
    background: #fce062;
    border-radius: 5px;
    width: 120px;
    font-size: 15px;
}
div#chat-container div#input{
    width:320px;
    height: 50px;
    text-align: center;
    position:relative;
    top: 40px;
}
div#input input{
    border-radius: 20px;
    border: none;
    padding:5px;
    width: 230px;
}
div#input button{
    border: none;
    width: 50px;
    height: 25px;
    border-radius: 10px;
    background: gray;
    color: white;
}
/* 메뉴바 */
div#menubar{
    font-family: Nanum Gothic;
     font-weight: bold;
    width: 290px;
    height: 100%;
    color: #494949;
    background: #f1f1f1;
    position: absolute;
    top: 0px;
    right: -290px;
    float: right;
    z-index: 6;
    display: none;
}
div#menubar #menubar-close{
    font-family:Montserrat;
    position: absolute;
    left: 10px;
    top:5px;
    font-size: 18px;
    cursor: pointer;
}


div#menubar div#menu ul#menu-list1{
	list-style-image: url("/helloworld/images/plan.png");
}
div#menubar div#menu ul#menu-list2{
	list-style-image: url("/helloworld/images/wish.png");
}
div#menubar div#menu ul#menu-list3{
	list-style-image: url("/helloworld/images/review.png");
}
div#menubar div#menu ul#menu-list4{
	list-style-image: url("/helloworld/images/write.png");
}
div#menubar div#menu ul#menu-list5{
	list-style-image: url("/helloworld/images/question.png");
}
div#menubar div#menu ul#menu-list6{
	list-style-image: url("/helloworld/images/notice.png");
}

div#menubar div#menu ul{
	padding: 0;
	margin-top: 10px;
	
}
div#menubar div#menu ul li{
	margin-left: 70px;
    height: 40px;
    line-height: 40px;
}
div#menubar div#menu ul li a{
	position: absolute;
	margin-left: 5px;
}


div#menu{
	width: 290px;
}

div#menu{
    font-size: 100%;
    position: absolute;
    width: 200px;
    top: 250px;
}

div#menu li a:hover{
    color: rgb(21, 88, 196);
}




/* 로그인폼(로그인전) */
form#loginfrm{
    position: absolute;
    top: 39px;
    left: 25px;
}
div.login-container input{
    border-radius: 20px;
    border: none;
    width: 125px;
    height: 27px;
    font-size: 12px;
    padding-left: 10px;
/*     cursor: pointer; */
}
input#saveId{
	width: 15px;
    height: 15px;
    position: relative;
	
}
form#loginfrm img{
    width: 35px;
    height: 35;
    padding-right: 7px;
}
form#loginfrm #login_btn{
    position: absolute;
    padding: 5px;
    left: 190px;
    top: 42px;
    width: 56px;
    height: 75px;
    cursor:pointer;
    font-family: Nanum Gothic;
	font-weight: bold;
    
}
form#loginfrm input[type=button],
form#loginfrm label{
	font-family: Nanum Gothic;
	font-weight: bold;
}
form#loginfrm .membermenu{
    color: gray;
    background: none;
    width: 121px;
}
form#loginfrm .membermenu:hover{
    cursor: pointer;
    color: #555555;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: black;
}
form#loginfrm a:hover{
    color: #2dac89;
    font-weight: bold;
}


label#saveId{
    font-size: small;
}
form#loginfrm span.text{
	font-family: Nanum Gothic;
	font-weight: bold; 
}

/* 로그인 후  */
table#logged-in{
	position: relative;
	top: 50px;
	left: 4px;
	border-spacing: 10px;
}

table#logged-in input{
	cursor: pointer;
}
img#profile-viewer_{
	border-radius: 100px;
	width: 120px;
	height: 120px;
}

table#logged-in tr td input[type=button]{
	margin-top:10px;
	font-family: Nanum Gothic;
	font-weight: bold;
}
table#logged-in tr td {
	font-family: Nanum Gothic;
	font-weight: bold;
	font-size: 20px;
}



/* content */
section#content {
    float:left; 
    width:1024px; 
    min-height:500px; 
    z-index: 0;
    }
    
/* footer */
footer{
    font-size: 15px;
    color: gray;
    clear:both;
    height:75px; 
    text-align:center;
    padding-top:40px;
}
