@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat|Oxygen|Poiret+One|Nanum+Gothic|Song+Myung&display=swap');
body{
	font-family: "Nanum Gothic";
}
div#find-container{
	margin-top: 50px;
	margin-left: 75px;
	width: 350px;
	text-align: center;
}
h2{
	text-align: left;
}
input{
	font-family: "Nanum Gothic";
}
label{
	font-weight: bold;
	font-family: "Nanum Gothic";
}
input:focus {
  outline: none;
}
input[type=text]{
	margin: 20px;
	border: none;
	border-bottom: 1px solid;
	font-size: 17px;
	height: 20px;
	width: 180px;
	
	
}
input[type=button], input[type=submit]{
	border: 2px solid rgb(209, 226, 255);
	background: rgb(209, 226, 255);
	border-radius: 50px;
	
	padding: 10px;
	width: 120px;
	height: 40px;
	
	margin: 15px;
	
	font-size: 14px;
	font-weight: bold;
	
}
select{
	height: 30px;
	width: 180px;
	border: none;
	border-bottom: 1px solid;
	font-size: 14px;
	margin: 20px;
	font-family: "Nanum Gothic";
}
span#findIdSpan, span#findPasswordSpan{
	font-weight: bold;
}