@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat|Oxygen|Poiret+One|Nanum+Gothic|Song+Myung&display=swap');

div#updatePassword-container{
	font-family: "Nanum Gothic";
	width: 500px;
	margin: 0 auto;
	text-align: center;
}
div#updatePassword-container input[type=password]{
	border: none;
	border-bottom: 2px solid;
	font-size: 18px;
}
div#updatePassword-container input[type=password]:focus{
	outline: none;
}
div#updatePassword-container h1{
	margin: 30px;
	font-weight: bold;
	font-size: 2em;
	
}
div#updatePassword-container input{
	margin: 20px;
}
div#updatePassword-container label{
	font-family: "Nanum Gothic";
	font-weight: bold;
	font-size: 18px;
}

div#updatePassword-container img{
    width: 70px;
    margin: 20px;
    margin-top: 40px;
    cursor: pointer;
}